:root {
  --section-back: #f4f4f4;
  --white: #ffffff;
  --primary: #fa382f;
  --primary-light: #fddfe7;
  --secondary: #072bce;

  --giant-text: 40px; /* supposed to be 40 */
  --very-big-text: 24px; /* supposed to be 24 */
  --medium-big-text: 22px; /* supposed to be 22 */
  --more-big-text: 21px; /* supposed to be 21 */
  --big-text: 17px; /* supposed to be 17 */
  --less-big-text: 17px; /* supposed to be 17 */
  --bigger-medium-text: 21px; /* supposed to be 21 */
  --medium-text: 13px; /* supposed to be 13 */
  --small-text: 11px; /* supposed to be 11 */
  --very-small-text: 9px; /* supposed to be 9 */
}

/* need to find my own background image, colors and change my profile picture */

* {
  /* outline: 1px solid orange; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  all: unset;
  cursor: pointer;
}

.header {
  /* width: 100%; */
  height: 520px;
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.5),
      rgba(32, 32, 32, 0.5)
    ),
    url("./images/pexels3.jpg");
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-box {
  position: relative;
  height: 520px;
}

.header-socials {
  display: flex;
  position: absolute;
  top: 48px;
  right: 0;
  color: var(--white);
}

.header-text-box {
  position: absolute;
  /* I tweaked a little bit the top position since I added a second subtitle */
  top: 130px;
  left: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.header-socials-link {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-link:hover {
  transform: scale(1.12);
  color: var(--primary);
}

.header-socials-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  border: 1.5px solid var(--white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-profile-picture {
  width: 180px;
  border-radius: 50%;
  border: 2px solid var(--white);
  position: absolute;
  bottom: -16px;
  right: 0;
}

.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--medium-text);
  line-height: 138%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.color {
  color: var(--primary);
}

.underline,
.main-project-title:hover,
.other-project-title:hover,
.main-article-title:hover {
  text-decoration-line: underline;
  text-underline-position: under;
}


.dev-title {
  /* letter-spacing doesn't seem to be 0 in Figma... */
  font-size: var(--giant-text);
  line-height: 122%;
}

.other-title {
  font-size: var(--very-big-text);
  line-height: 167%;
}

.section:nth-child(2n) {
  background-color: var(--section-back);
}

.section:nth-child(2n + 1) {
  background-color: var(--white);
}

.header-box,
.section-box {
  width: 327px;
  margin: 0 auto;
}

.section {
  padding: 40px 0;
}

.intro-text {
  font-size: var(--big-text);
  line-height: 171%;
  text-align: left;
}

/* CSS data in common pitfalls doc : sizes need to be adjusted for mobile */
.intro-line {
  border: 1px solid var(--primary);
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

/* CSS data in common pitfalls doc : sizes need to be adjusted for mobile */
.intro-dot {
  height: 10px;
  width: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}

.tech-text {
  font-size: var(--big-text);
  line-height: 171%;
  text-align: center;
}

.heading-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.subheading-box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  padding: 0 4px;
  color: var(--white);
  background-color: var(--primary);
  font-size: var(--medium-big-text);
  line-height: 122%;
}

.projects-box article,
.thoughts-box article {
  width: 327px;
}

.project-image-box,
.article-image-box {
  position: relative;
  margin-top: 32px;
}

.article-image-box:hover {
  outline: 2px solid var(--primary);
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.4);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  transition: 0.3s ease;
}

.image-overlay:hover {
  background-color: transparent;
  color: transparent;
}

.project-image,
.article-image {
  width: 100%;
  /* important so there isn't a line with overlay below : it can be inherit, flex, block, to check*/
  display: inherit;
  /* height: 212px; */
  /* is it useful? */
  -o-object-fit: cover;
  object-fit: cover;
}

.main-project-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.01em;
  font-size: var(--less-big-text);
  line-height: 171%;
  margin-top: 32px;
}

.other-project-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.01em;
  font-size: var(--less-big-text);
  line-height: 132%;
}

.project-description {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  font-size: var(--less-big-text);
  line-height: 171%;
}

.other-project {
  margin-top: 40px;
}

.other-project-description {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  font-size: var(--less-big-text);
  line-height: 171%;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.tag {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: var(--very-small-text);
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.01em;
  background-color: var(--primary-light);
  padding: 5px;
  margin-right: 6px;
}

.section-subheading {
  color: var(--primary);
  font-size: var(--more-big-text);
  line-height: 119%;
  text-transform: uppercase;
}

.thoughts-heading-long {
  display: none;
}

.main-article-date {
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text);
  line-height: 176%;
  margin-top: 32px;
}

.main-article-title {
  font-family: "Roboto", sans-serif;
  font-size: var(--bigger-medium-text);
  line-height: 143%;
}

.main-article-text {
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text);
  line-height: 188%;
}

.other-article {
  margin-top: 24px;
}

.other-article-title {
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text);
  line-height: 171%;
}

.other-article-date {
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text);
  font-weight: 400;
  line-height: 171%;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  row-gap: 29px;
}

.skills-subheading {
  color: var(--primary);
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text);
  line-height: 171%;
  text-transform: uppercase;
}

.skills-list {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  font-size: var(--less-big-text);
  line-height: 171%;
  letter-spacing: 0.01em;
}

.more-socials {
  display: flex;
  justify-content: center;
}

.more-socials-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 24px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 12px;
}

.more-socials-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.more-socials-circle:hover {
  transform: scale(1.12);
  color: var(--secondary);
}

.icon-heading {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  font-size: var(--small-text);
  line-height: 118%;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  height: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--white);
}

.footer-heading {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--more-big-text);
  line-height: 119%;
}

.footer-box {
  font-size: var(--big-text);
  line-height: 147%;
  text-align: center;
  margin-top: 41px;
}

/* ---------- Media query for tablet ---------- */

@media screen and (min-width: 768px) {
  :root {
    /* average between mobile and desktop font sizes */
    --giant-text: 61px; /* supposed to be 40 */
    --very-big-text: 37px; /* supposed to be 24 */
    --medium-big-text: 35px; /* supposed to be 22 */
    --more-big-text: 30px; /* supposed to be 21 */
    --big-text: 24px; /* supposed to be 17 */
    --less-big-text: 21px; /* supposed to be 17 */
    --bigger-medium-text: 26px; /* supposed to be 21 */
    --medium-text: 21px; /* supposed to be 13 */
    --small-text: 18px; /* supposed to be 11 */
    --very-small-text: 13px; /* supposed to be 9 */
  }

  .header,
  .header-box {
    height: 594px;
  }

  .header-box,
  .section-box {
    width: 718px;
  }

  .header-socials {
    top: 75px;
  }

  .header-text-box {
    /* I tweaked a little bit the top position since I added a second subtitle */
    top: 160px;
  }

  .header-profile-picture {
    width: 257px;
    bottom: -28px;
  }

  .intro-line {
    border-width: 1.5px;
    width: 60px;
    margin-bottom: 6px;
  }

  .intro-dot {
    height: 15px;
    width: 15px;
  }

  .section {
    padding: 80px 0;
  }

  .heading-box {
    margin-bottom: 60px;
  }

  .subheading-box {
    margin-top: 65px;
    margin-bottom: 30px;
  }

.thoughts-heading-long {
  display: inline;
}

  .projects-box,
  .thoughts-box {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 44px;
    column-gap: 44px;
  }

  .footer {
    height: 436px;
  }
}

/* ---------- Media query for desktop ---------- */

@media screen and (min-width: 1148px) {
  :root {
    --giant-text: 82px; /* supposed to be 82 */
    --very-big-text: 50px; /* supposed to be 50 */
    --medium-big-text: 48px; /* supposed to be 48 */
    --more-big-text: 38px; /* supposed to be 38 */
    --big-text: 30px; /* supposed to be 30 */
    --less-big-text: 25px; /* supposed to be 25 */
    --bigger-medium-text: 30px; /* supposed to be 30 */
    --medium-text: 28px; /* supposed to be 28 */
    --small-text: 25px; /* supposed to be 25 */
    --very-small-text: 16px; /* supposed to be 16 */
  }

  .header,
  .header-box {
    height: 668px;
  }

  .header-socials {
    top: 102px;
  }

  .header-text-box {
    /* I tweaked a little bit the top position since I added a second subtitle */
    top: 190px;
  }

  .header-profile-picture {
    width: 333px;
    bottom: -40px;
  }

  .footer {
    height: 570px;
  }

  .header-box,
  .section-box {
    width: 1100px;
  }

  .section {
    padding: 120px 0;
  }

  .header-socials-circle {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: 2px solid var(--white);
  }

  .header-socials-link {
    font-size: 32px;
  }

  .portfolio-name {
    line-height: 132%;
  }

  .other-title {
    line-height: 156%;
  }

  .intro-text {
    line-height: 167%;
    text-align: left;
  }

  .intro-line {
    border-width: 2px;
    width: 80px;
    margin-bottom: 8px;
  }

  .intro-dot {
    height: 20px;
    width: 20px;
  }

  .tech-text {
    line-height: 167%;
    letter-spacing: 0.01em;
  }

  .heading-box {
    margin-bottom: 80px;
  }

  .subheading-box {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .section-heading {
    padding: 2px 16px;
    line-height: 122%;
  }

  .main-project-title {
    margin-top: 45px;
    line-height: 164%;
  }

  .projects-box article,
  .thoughts-box article {
    width: 523px;
  }

  .project-image-box,
  .article-image-box {
    position: relative;
    margin-top: 45px;
  }

  .project-image,
  .article-image {
    width: 100%;
  }

  .project-description {
    line-height: 164%;
  }

  .tag {
    line-height: 131%;
  }

  .section-subheading {
    line-height: 124%;
  }

  .other-project-text {
    display: flex;
  }

  .other-project-title {
    line-height: 164%;
  }

  .other-project-space {
    display: inline;
  }

  .other-project-description {
    line-height: 164%;
  }

  /* adding a space before other project description only on desktop view */
  .other-project-description:before {
    content: "\00a0";
  }

  .main-article-date {
    line-height: 164%;
    margin-top: 60px;
  }

  .main-article-title {
    line-height: 137%;
  }

  .main-article-text {
    line-height: 164%;
  }

  .other-article-date {
    line-height: 132%;
  }

  .other-article-title {
    line-height: 132%;
  }

  .skills-subheading {
    line-height: 164%;
  }

  .skills-list {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    line-height: 164%;
    letter-spacing: 0.01em;
    padding: 6px 0 0 0;
  }

  .more-socials-circle {
    border: 4px solid var(--primary);
    width: 160px;
    height: 160px;
  }

  .more-socials-link {
    font-size: 60px;
  }

  .icon-heading {
    line-height: 164%;
  }

  .footer-heading {
    color: var(--white);
    text-transform: uppercase;
    line-height: 124%;
  }

  .footer-box {
    line-height: 167%;
  }

  .image-box {
    margin-top: 54px;
  }

  .underline-desktop {
    text-decoration-line: underline;
    text-underline-position: under;
  }

}
