:root {
  --section-back: #f4f4f4;
  --white: #ffffff;
  --primary: #fa382f;
  --primary-light: #fddfe7;
  --secondary: #072bce;

  --header-height: 480px;

  --giant-text-mobile: 40px; /* supposed to be 40 */
  --giant-text-desktop: 82px; /* supposed to be 82 */

  --very-big-text-mobile: 24px; /* supposed to be 24 */
  --very-big-text-desktop: 50px; /* supposed to be 50 */

  --medium-big-text-mobile: 22px; /* supposed to be 22 */
  --medium-big-text-desktop: 48px; /* supposed to be 48 */

  --more-big-text-mobile: 21px; /* supposed to be 21 */
  --more-big-text-desktop: 38px; /* supposed to be 38 */

  --big-text-mobile: 17px; /* supposed to be 17 */
  --big-text-desktop: 30px; /* supposed to be 30 */

  --less-big-text-mobile: 17px; /* supposed to be 17 */
  --less-big-text-desktop: 25px; /* supposed to be 25 */

  --bigger-medium-text-mobile: 21px; /* supposed to be 21 */
  --bigger-medium-text-desktop: 30px; /* supposed to be 30 */

  --medium-text-mobile: 13px; /* supposed to be 13 */
  --medium-text-desktop: 28px; /* supposed to be 28 */

  --small-text-mobile: 0;
  --small-text-desktop: 0;

  --very-small-text-mobile: 9px; /* supposed to be 9 */
  --very-small-text-desktop: 16px; /* supposed to be 16 */
}

* {
  /* outline: 1px solid orange; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  width: 100%;
  height: var(--header-height);
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.5),
      rgba(32, 32, 32, 0.5)
    ),
    url("./images/library.jpg");
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header,
.header-box {
  position: relative;
}

.header-icons {
  display: flex;
  position: absolute;
  top: 48px;
  right: 0;
  color: var(--white);
}

.header-text-box {
  position: relative;
  top: 121px;
  left: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-size: var(--medium-text-mobile);
  line-height: 138%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.bold-text {
  font-weight: 700;
}

.color {
  color: var(--primary);
}

.dev-title {
  font-size: var(--giant-text-mobile);
  line-height: 122%;
}

.other-title {
  font-size: var(--very-big-text-mobile);
  line-height: 167%;
}

.portfolio-section:nth-child(2n) {
  background-color: var(--section-back);
}

.header-box,
.section-box {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 0 auto;
}

.intro-text {
  font-size: var(--big-text-mobile);
  line-height: 171%;
  text-align: left;
}

/* CSS data in common pitfalls doc : sizes need to be adjusted for mobile */
.line {
  border: 1px solid var(--primary);
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

/* CSS data in common pitfalls doc : sizes need to be adjusted for mobile */
.dot {
  height: 10px;
  width: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}

.heading-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  padding: 0 3px;
  color: var(--white);
  background-color: var(--primary);
  font-size: var(--medium-big-text-mobile);
  line-height: 122%;
}

.image-box {
  position: relative;
  margin-bottom: 15px;
}

.project-picture,
.article-picture {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  object-position: 0 0;
}

.small-title.project {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  font-size: var(--less-big-text-mobile);
  line-height: 171%;
}

.small-title.other {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  font-size: var(--less-big-text-mobile);
  line-height: 132%;
}

.project-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  font-size: var(--less-big-text-mobile);
  line-height: 171%;
  display: inline-block;
  margin: 10px 0;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.tech-tag {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: var(--very-small-text-mobile);
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.01em;
  background-color: var(--primary-light);
  padding: 5px;
  margin-right: 6px;
}

.second-heading {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  font-size: var(--more-big-text-mobile);
  line-height: 119%;
  text-transform: uppercase;
}

.small-title.date {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 15px;
  font-size: var(--less-big-text-mobile);
  line-height: 176%;
  margin-top: 30px;
}

.article-title {
  font-family: "Roboto", sans-serif;
  font-size: var(--bigger-medium-text-mobile);
  line-height: 143%;
  margin-bottom: 5px;
}

.article-text {
  display: inline-block;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text-mobile);
  line-height: 188%;
}

.small-title.datemore {
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text-mobile);
  line-height: 171%;
  text-transform: uppercase;
}

.article-title.more {
  font-family: "Roboto", sans-serif;
  font-size: var(--less-big-text-mobile);
  line-height: 171%;
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-bottom: 40px;
}

.second-heading-skills {
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  text-transform: uppercase;
  font-size: var(--less-big-text-mobile);
  line-height: 171%;
}

.skills-list {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    font-size: var( --less-big-text-mobile);
    line-height: 171%;
    letter-spacing: 0.01em;
    padding: 6px 0 0 0;
}

footer {
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--white)
}

.footer-heading {
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--more-big-text-mobile);
    line-height: 119%;
}

.footer-details {
    font-size: var(--big-text-mobile);
    line-height: 147%;
    text-align: center;
}

@media screen and (min-width: 1025px) {
  /* figma CSS data */
  .portfolio-name {
    font-size: var(--medium-text-desktop);
    line-height: 132%;
  }

  /* figma CSS data */
  .dev-title {
    font-size: var(--giant-text-desktop);
  }

  /* figma CSS data */
  .other-title {
    font-size: var(--very-big-text-desktop);
    line-height: 156%;
  }

  .intro-text {
    font-size: var(--big-text-desktop);
    line-height: 167%;
    text-align: left;
  }

  /* CSS data in common pitfalls doc */
  .line {
    border: 1px solid var(--primary);
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
  }

  /* CSS data in common pitfalls doc */
  .dot {
    height: 10px;
    width: 10px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
  }

  .section-heading {
    padding: 0 8px;
    font-size: var(--medium-big-text-desktop);
    line-height: 122%;
  }

  .main-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 44px;
  }

  .small-title.project {
    line-height: 164%;
    font-size: var(--less-big-text-desktop);
  }

  .project-text {
    font-size: var(--less-big-text-desktop);
    line-height: 164%;
  }

  .tech-tag {
    font-size: var(--very-small-text-desktop);
    line-height: 131%;
  }

  .second-heading {
    font-size: var(--more-big-text-desktop);
    line-height: 124%;
  }

  .small-title.other {
    font-size: var(--less-big-text-desktop);
    line-height: 164%;
    text-decoration-line: underline;
  }

  .small-title.date {
    font-size: var(--less-big-text-desktop);
    line-height: 164%;
  }

  .article-title {
    font-size: var(--bigger-medium-text-desktop);
    line-height: 137%;
  }

  .article-text {
    font-size: var(--less-big-text-desktop);
    line-height: 164%;
  }

  .thoughts-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 44px;
  }

  .small-title.datemore {
    font-size: var(--less-big-text-desktop);
    line-height: 132%;
  }

  .article-title.more {
    font-size: var(--less-big-text-desktop);
    line-height: 132%;
  }

  .skills-box {
    grid-template-columns: repeat(4, 1fr);
  }

  .second-heading-skills {
    font-size: var(--less-big-text-desktop);
    line-height: 164%;
  }

  .skills-list {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    font-size: var( --less-big-text-desktop);
    line-height: 164%;
    letter-spacing: 0.01em;
    padding: 6px 0 0 0;
}

.footer-heading {
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--more-big-text-desktop);
    line-height: 124%;
}

.footer-details {
    font-size: var(--big-text-desktop);
    line-height: 167%;
}


}
