:root {
  --section-background: #f4f4f4;
  --white: #ffffff;
  --primary: #127c8a;
  --light: #A9D5DA;
  --secondary: #a02334;
  --oversized-text: 40px;
  --giant-text: 24px;
  --super-big-text: 22px;
  --very-big-text: 21px;
  --big-text: 21px;
  --medium-text: 17px;
  --small-text: 17px;
  --very-small-text: 13px;
  --super-small-text: 11px;
  --tiny-text: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  all: unset;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.color {
  color: var(--primary);
}

.underline {
  text-decoration-line: underline;
  text-underline-position: under;
}

.header {
  height: 520px;
  background-image: linear-gradient(
      rgba(100, 100, 100, 0.4),
      rgba(100, 100, 100, 0.4)
    ),
    url("./images/typewriter-mobile.jpg");
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.header-box {
  position: relative;
  height: 520px;
}

.header-box,
.section-box {
  width: 327px;
  margin: 0 auto;
}

.header-socials {
  position: absolute;
  top: 48px;
  right: 0;
  display: flex;
}

.header-socials-link {
  font-size: 16px;
}

.header-socials-circle {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text-box {
  position: absolute;
  top: 146px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--very-small-text);
  line-height: 138%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.dev-title {
  font-size: var(--oversized-text);
  line-height: 122%;
}

.other-title {
  font-size: var(--giant-text);
  line-height: 167%;
}

.header-profile-picture {
  position: absolute;
  bottom: -16px;
  right: 0;
  width: 180px;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.section:nth-child(2n) {
  background-color: var(--section-background);
}

.section:nth-child(2n + 1) {
  background-color: var(--white);
}

.section {
  padding: 40px 0;
}

.intro-text {
  font-size: var(--medium-text);
  line-height: 171%;
}

.intro-line {
  width: 40px;
  margin-bottom: 4px;
  border: 1px solid var(--primary);
  display: inline-block;
}

.intro-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary);
  display: inline-block;
}

.heading-box {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  padding: 0 4px;
  color: var(--white);
  background-color: var(--primary);
  font-size: var(--super-big-text);
  line-height: 122%;
}

.tech-text {
  font-size: var(--medium-text);
  line-height: 171%;
  text-align: center;
}

.section-subheading-box {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-projects-box,
.other-projects-box,
.main-thoughts-box,
.other-thoughts-box {
  font-family: "Roboto", sans-serif;
}

.main-projects-box article,
.main-thoughts-box article {
  width: 327px;
}

.project-image-box,
.thought-image-box {
  position: relative;
  margin-top: 32px;
}

.project-image,
.thought-image {
  width: 100%;
  display: inherit;
}

.project-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(100, 100, 100, 0.4);
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}

.main-project-title {
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.01em;
  font-size: var(--small-text);
  line-height: 171%;
  margin-top: 32px;
}

.project-description {
  letter-spacing: 0.01em;
  font-size: var(--small-text);
  line-height: 171%;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.tag {
  font-size: var(--tiny-text);
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.01em;
  background-color: var(--light);
  padding: 5px;
  margin-right: 6px;
}

.section-subheading {
  color: var(--primary);
  font-size: var(--very-big-text);
  line-height: 119%;
  text-transform: uppercase;
}

.other-project {
  margin-top: 40px;
}

.other-project-title {
  text-transform: uppercase;
  color: var(--primary);
  letter-spacing: 0.01em;
  font-size: var(--small-text);
  line-height: 132%;
}

.other-project-description {
  letter-spacing: 0.01em;
  font-size: var(--small-text);
  line-height: 171%;
}

.thoughts-heading-long {
  display: none;
}

.main-thought-date {
  font-size: var(--small-text);
  line-height: 176%;
  margin-top: 32px;
}

.main-thought-title {
  font-size: var(--big-text);
  line-height: 143%;
}

.main-thought-text {
  font-size: var(--small-text);
  line-height: 188%;
}

.other-thought {
  margin-top: 24px;
  line-height: 171%;
}

.other-thought-title {
  font-size: var(--small-text);
}

.other-thought-date {
  font-size: var(--small-text);
  font-weight: 400;
}

.skills-box {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  row-gap: 29px;
}

.skills-subheading {
  color: var(--primary);
  font-size: var(--small-text);
  text-transform: uppercase;
  line-height: 171%;

}

.skills-list {
  list-style-type: none;
  font-size: var(--small-text);
  letter-spacing: 0.01em;
  line-height: 171%;

}

.more-socials {
  display: flex;
  justify-content: center;
}

.more-socials-link {
  color: var(--primary);
  font-size: 24px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 12px;
}

.more-socials-circle {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-heading {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  font-size: var(--super-small-text);
  line-height: 118%;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  height: 302px;
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-heading {
  font-size: var(--very-big-text);
  line-height: 119%;
  color: var(--white);
  text-transform: uppercase;
}

.footer-box {
  font-size: var(--medium-text);
  line-height: 147%;
  text-align: center;
  margin-top: 41px;
}

/* ---------- Media query for tablet ---------- */
@media screen and (min-width: 768px) {
  :root {
    --oversized-text: 61px;
    --giant-text: 37px;
    --super-big-text: 35px;
    --very-big-text: 30px;
    --big-text: 26px;
    --medium-text: 24px;
    --small-text: 21px;
    --very-small-text: 21px;
    --super-small-text: 18px;
    --tiny-text: 13px;
  }

  .header {
    background-image: linear-gradient(
      rgba(100, 100, 100, 0.4),
      rgba(100, 100, 100, 0.4)
    ),
    url("./images/typewriter-tablet.jpg");
  }

  .header,
  .header-box {
    height: 594px;
  }

  .header-box,
  .section-box {
    width: 718px;
  }

  .header-socials {
    top: 75px;
  }

  .header-socials-link {
    font-size: 24px;
  }

  .header-socials-circle {
    width: 60px;
    height: 60px;
    margin-left: 7.5px;
    border: 1.5px solid var(--white);
  }

  .header-text-box {
    top: 176px;
  }

  .header-profile-picture {
    width: 257px;
    bottom: -28px;
  }

  .section {
    padding: 80px 0;
  }

  .intro-line {
    border-width: 1.5px;
    width: 60px;
    margin-bottom: 6px;
  }

  .intro-dot {
    height: 15px;
    width: 15px;
  }

  .heading-box {
    margin-bottom: 60px;
  }

  .main-projects-box,
  .main-thoughts-box {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 44px;
    column-gap: 44px;
  }

  .section-subheading-box {
    margin-top: 65px;
    margin-bottom: 30px;
  }

  .thoughts-heading-long {
    display: inline;
  }

  .footer {
    height: 436px;
  }
}

/* ---------- Media query for desktop ---------- */
@media screen and (min-width: 1148px) {
  :root {
    --oversized-text: 82px;
    --giant-text: 50px;
    --super-big-text: 48px;
    --very-big-text: 38px;
    --big-text: 30px;
    --medium-text: 30px;
    --small-text: 25px;
    --very-small-text: 28px;
    --super-small-text: 25px;
    --tiny-text: 16px;
  }

  .underline-desktop,
  .main-project-title:hover,
  .other-project-title:hover,
  .main-thought-title:hover,
  .footer-email:hover {
    text-decoration-line: underline;
    text-underline-position: under;
  }

  .header {
    background-image: linear-gradient(
      rgba(100, 100, 100, 0.4),
      rgba(100, 100, 100, 0.4)
    ),
    url("./images/typewriter-desktop.jpg");
  }

  .header,
  .header-box {
    height: 668px;
  }

  .header-box,
  .section-box {
    width: 1100px;
  }

  .header-socials {
    top: 102px;
  }

  .header-text-box {
    top: 206px;
  }

  .header-profile-picture {
    width: 333px;
    bottom: -40px;
  }

  .header-socials-link {
    font-size: 32px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-socials-link:hover {
    transform: scale(1.12);
    color: var(--secondary);
  }

  .header-socials-circle {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    border: 2px solid var(--white);
  }

  .portfolio-name {
    line-height: 132%;
  }

  .other-title {
    line-height: 156%;
  }

  .section {
    padding: 120px 0;
  }

  .intro-text,
  .tech-text,
  .footer-box {
    line-height: 167%;
  }

  .intro-line {
    border-width: 2px;
    width: 80px;
    margin-bottom: 8px;
  }

  .intro-dot {
    height: 20px;
    width: 20px;
  }

  .heading-box {
    margin-bottom: 80px;
  }

  .section-heading {
    padding: 2px 16px;
    line-height: 122%;
  }

  .tech-text {
    letter-spacing: 0.01em;
  }

  .main-projects-box article,
  .main-thoughts-box article {
    width: 523px;
  }

  .project-image-box,
  .thought-image-box {
    position: relative;
    margin-top: 45px;
  }

  .project-image,
  .thought-image {
    width: 100%;
  }

  .project-image-overlay {
    transition: 0.3s ease;
  }

  .project-image-overlay:hover {
    background-color: transparent;
    color: transparent;
  }

  .main-project-title {
    margin-top: 45px;
  }

  .main-project-title,
  .project-description,
  .other-project-title,
  .other-project-description,
  .main-thought-date,
  .main-thought-text,
  .skills-subheading,
  .skills-list,
  .icon-heading {
    line-height: 164%;
  }

  .tag {
    line-height: 131%;
  }

  .section-subheading-box {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .section-subheading,
  .footer-heading {
    line-height: 124%;
  }

  .other-project-text {
    display: flex;
  }

  .other-project-description:before {
    content: "\00a0";
  }

  .thought-image-box:hover {
    outline: 3px solid var(--secondary);
  }

  .main-thought-date {
    margin-top: 60px;
  }

  .main-thought-title {
    line-height: 137%;
  }

  .other-thought-title,
  .other-thought-date {
    line-height: 132%;
  }

  .more-socials-link {
    font-size: 60px;
  }

  .more-socials-circle {
    border: 4px solid var(--primary);
    width: 160px;
    height: 160px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .more-socials-circle:hover {
    transform: scale(1.12);
    color: var(--secondary);
  }

  .footer {
    height: 570px;
  }

  .project-image-box,
  .thought-image-box {
    margin-top: 54px;
  }
}